Effect of a BYE on receiver.track

Some questions:

1. If an RtpReceiver receives a BYE from an RtpSender, what happens?
2. When transceiver.stop() is called, does transceiver.sender send a BYE?
3. When transceiver.sender.replaceTrack(null) is called does transceiver.sender send a BYE?
4. What about when transceiver.sender.track.enabled is set to "false"?

Related WebRTC 1.0 issue: https://github.com/w3c/webrtc-pc/issues/961

Here is the resolution being proposed in the WEBRTC WG: 

BYE is sent only if SSRC won’t be used again.
When sender.stop() is called, a BYE is sent for all of the sender’s encodings[].ssrc
No BYE sent when setTrack(null) is called because setTrack(anotherTrack) might cause the SSRC to become active again (though the remote receiver might timeout the SSRC, as described in RFC 3550 Section 6.3.5).
No BYE sent when sender.track.enabled is set to "false" since sender.track.enabled could be set back to “true”, reactivating the SSRC.

