Section 9.14  RTP Header extensions

RFC 6051 is not included in the list of header extensions, although it is mentioned in RTP-Usage Section 5.2.1: 

5.2.1.  Rapid Synchronisation

   Many RTP sessions require synchronisation between audio, video, and
   other content.  This synchronisation is performed by receivers, using
   information contained in RTCP SR packets, as described in the RTP
   specification [RFC3550].  This basic mechanism can be slow, however,
   so it is RECOMMENDED that the rapid RTP synchronisation extensions
   described in [RFC6051] be implemented in addition to RTCP SR-based
   synchronisation.  The rapid synchronisation extensions use the
   general RTP header extension mechanism [RFC5285], which requires
   signalling, but are otherwise backwards compatible.
