Normative versus Non-Normative References

All of the references in the document are currently normative.  However, looking at the WebRTC 1.0 specification, there are a number of non-normative references that are normative in the ORTC API specification.  Is this intentional? 

For example, some of the following references might be considered Informative: 

Informative references

[RFC3389]
R. Zopf. Real-time Transport Protocol (RTP) Payload for Comfort Noise (CN). September 2002. Proposed Standard. URL: http://www.ietf.org/rfc/rfc3389.txt
[RFC4587]
R. Even. RTP Payload Format for H.261 Video Streams. August 2006. Proposed Standard. URL: http://www.ietf.org/rfc/rfc4587.txt
[RFC5109]
A. Li, Ed.. RTP Payload Format for Generic Forward Error Correction. December 2007. Proposed Standard. URL: http://www.ietf.org/rfc/rfc5109.txt
[RFC5322]
P. Resnick, Ed.. Internet Message Format. October 2008. Draft Standard. URL: http://www.ietf.org/rfc/rfc5322.txt
[RFC5583]
T. Schierl; S. Wenger. Signaling Media Decoding Dependency in the SDP. July 2009. RFC. URL: http://tools.ietf.org/html/rfc5583
[RFC6184]
Y.-K.. Wang; R. Even; T. Kristensen; R. Jesup. RTP Payload Format for H.264 Video. May 2011. RFC. URL: http://tools.ietf.org/html/rfc6184
[RFC6190]
S. Wenger; Y.-K. Wang; T. Schierl; A. Eleftheriadis. RTP Payload Format for Scalable Video Coding. May 2011. RFC. URL: http://tools.ietf.org/html/rfc6190
[RFC6455]
I. Fette; A. Melnikov. The WebSocket Protocol. December 2011. RFC. URL: http://tools.ietf.org/html/rfc6455
[RFC6681]
M. Watson; T. Stockhammer; M. Luby. Raptor Forward Error Correction (FEC) Schemes for FECFRAME. August 2012. Proposed Standard. URL: http://www.ietf.org/rfc/rfc6681.txt
[VP8-RTP]
P. Westin; H. Lundin; M. Glover; J. Uberti; F. Galligan. RTP Payload Format for VP8 Video. 10 February 2014. Internet Draft (work in progress). URL: http://tools.ietf.org/html/draft-ietf-payload-vp8
[WEBRTC10]
Adam Bergkvist; Daniel Burnett; Cullen Jennings; Anant Narayanan. WebRTC 1.0: Real-time Communication Between Browsers. 10 September 2013. W3C Working Draft. URL: http://www.w3.org/TR/webrtc/
[WEBSOCKETS-API]
Ian Hickson. The WebSocket API. 20 September 2012. W3C Candidate Recommendation. URL: http://www.w3.org/TR/websockets/
