Section 2.5.1 Fingerprint attribute

The current editor's draft has a typo in the description of the fingerprint attribute in Section 2.5.1:

fingerprint of type sequence<DOMString>
attribute" defined in [RFC4572].

This should probably say: 
"The fingerprint attribute is a sequence of DOMStrings, each containing a hash-function algorithm and fingerprint, in the syntax defined in [RFC4572] Section 5." 
