maxFs not included in H.264/AVC settings

RFC 7742 Section 6.2 mentions a number of H.264/AVC capabilities including: 

max-mbps, max-smbps, max-fs, max-cpb, max-dpb, and max-br:

      These parameters allow the implementation to specify that they can
      support certain features of H.264 at higher rates and values than
      those signaled by their level (set with profile-level-id).
      Implementations MAY include these parameters in their SDP, but
      they SHOULD interpret them when receiving them, allowing them to
      send the highest quality of video possible.

However, while Section 9.3.2.3 includes support for these in capabilities, Section 9.7.1.3 does not include them in settings. 

As a result, if a receiver were to signal a value of maxFs, there would be no way to set a maxFs value on the sender.   